<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-click="$ctrl.toggleMobileMenu()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="app.home">Angular + Webpack Seed</a>
    </div>

    <div class="collapse navbar-collapse" ng-class="{'in': $ctrl.toggleMenu}">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active">
          <a ui-sref="app.home"><i class="ion ion-ios-home"></i> Home</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.about"><i class="ion ion-ios-information"></i> About</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{$ctrl.gitHubLink}}" target="_blank"><i class="ion ion-social-octocat"></i> GitHub</a></li>
      </ul>
    </div>
  </div>
</nav>
