.icon-about {
  i {
    font-size: 36px;
    color: rgb(255, 164, 0);
  }
}

.box {
  height: 100px;
  width: 100px;
  background-image: url('../../assets/images/js.png');
  background-size: cover;
}
